
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }
        h1 {
            color: #080808ec;
        }
        p {
            margin: 10px 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #615e5e;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #fbf6fc;
        }
        progress {
            width: 100%;
            height: 11px;
            border-radius: 10px;
            background-color: #e0cce6;
            border: 2px solid rgb(252, 153, 222);
        }
        progress::-webkit-progress-bar {
            background-color: #f168b3ef(300 97% 2%);
        }

        progress::-webkit-progress-value {
            background-color: #f168b4;
        }
       